html, body{
	height:90%;
}

h1{
	height: 5%;
	margin-bottom:16px;
	margin-top:4px;
}
.left{
	position: fixed;
	display: inline-block;
	width: 420px;
	height: 75%;
	margin: 4px;
}
.left #input{
	resize: none;
	display: block;
	width: 100%;
	height: 20%;
}
.left #parse_button{
	float:left;
	width: 48%;
	height:32px;
}
.left #export_button{
	float: right;
	width:48%;
	height:32px;
}

.left #filters{
	height: 75%;
}

.left #filters #course_options{
	display:block;
	height:100%;
	overflow-y:scroll;
	padding-left:20;
}

#course_options li{
	list-style: none;
	line-height: 32px;
}

#course_options .class_time{
	margin-left: 16px;
	/*display:block;*/
}
#course_options .color_picker{
	float:right;
	margin-right: 8px;
	height:28px;

}

#course_options .course_remove{
	float:right;
	height:28px;
	margin-right: 2px;
}


.right{
	display:block;
	float:right;
	height: 85%;
	margin:4px;
	margin-left:450px;
}


/*#schedules{
	height:100%;
	overflow-y:auto;
}*/

#schedules .schedule_thumbnail{
	width: 400px;
	height: 300px;
	margin: 16px;
	display: inline-block;
}


.course_numbers{
	text-align: center;
}




